
   /* Estilos para la página */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para el formulario de búsqueda */
form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="search"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="search"]:focus {
    outline: none;
    border-color: #04AA6D;
}

/* Estilos para los botones */
.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #038c58;
}

/* Estilos para los elementos de la tabla */
#tablaLibros,
#tablaLibrosFav {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#tablaLibros td,
#tablaLibros th,
#tablaLibrosFav td,
#tablaLibrosFav th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablaLibros tr:nth-child(even),
#tablaLibrosFav tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablaLibros tr:hover,
#tablaLibrosFav tr:hover {
    background-color: #ddd;
}

#tablaLibros th,
#tablaLibrosFav th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}


